<div id="pageTop">
	<div id="mainTitle">
	CPU grid normalized records</h1>
	</div>
</div>
<div id="pageMiddle">
	<iframe id="grafana" src=<%= Rails.configuration.grafanaUrl %>/#/dashboard/script/grid-base.js width="1024"; height="768">
</div>
