<h1>cpu grid norm records statistics page</h1>


<% @graphs.each_pair do |target,dateRef| %>
<img src="<%= Rails.configuration.graphiteUrl %>/render?target=<%= target %><%= Rails.configuration.graphiteGraphOpts %><%= dateRef %>">
<% end %>
