<h1>Cloud record statistics</h1>
<br>
<table>
	<tbody>
		<tr>
			<td>Number of records
			<br>
			</td>
			<td>earliest record
			<br>
			</td>
			<td >Latest record
			<br>
			</td>
		</tr>
		<tr>
			<td ><%= @stats[:records_count] %>
			<br>
			</td>
			<td ><%= @stats[:earliest_record] %>
			<br>
			</td>
			<td ><%= @stats[:latest_record] %>
			<br>
			</td>
		</tr>
	</tbody>
</table>

<object data=http://dgas-dev-24.to.infn.it:8081/#/dashboard/script/cloud.js width="1024"; height="768"> <embed src=http://dgas-dev-24.to.infn.it:8081> </embed> Error: Embedded data could not be displayed. </object>

<br>
