<h1>Cloud record statistics</h1>
<br>
<table>
	<tbody>
		<tr>
			<td>Number of records
			<br>
			</td>
			<td>earliest record
			<br>
			</td>
			<td >Latest record
			<br>
			</td>
		</tr>
		<tr>
			<td ><%= @stats[:records_count] %>
			<br>
			</td>
			<td ><%= @stats[:earliest_record] %>
			<br>
			</td>
			<td ><%= @stats[:latest_record] %>
			<br>
			</td>
		</tr>
	</tbody>
</table>

<h1>CPU grid norm records statistics page</h1>


<iframe src=<%= Rails.configuration.grafanaUrl %>/#/dashboard/script/cloud-base.js width="1024"; height="768">

<br>
