<p id="notice"><%= notice %></p>

<p>
  <b>Batch execute record:</b>
  <%= @cpu_grid_id.batch_execute_record_id %>
</p>

<p>
  <b>Blah record:</b>
  <%= @cpu_grid_id.blah_record_id %>
</p>

<%= link_to 'Back', cpu_grid_ids_path %>
