<p id="notice"><%= notice %></p>

<p>
  <b>Lrmsid:</b>
  <%= @local_cpu_record.lrmsId %>
</p>


<%= link_to 'Edit', edit_local_cpu_record_path(@local_cpu_record) %> |
<%= link_to 'Back', local_cpu_records_path %>
