// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#banner {
  left:0px;
  background: #600;
  height: 40px;
  color: #ccc; 
  padding: 10px;
  a {
       color: #aaa;
       font-size: 15px;
       text-decoration: none;
       &:visited {
         color: #bbb;
       }
       &:hover {
         color: #f00;
         background-color: #700;
       }
     } 
}

#banner #logo {
  float: left;
  width:200px;
  font-size: 34 px;
  ul { display: inline; }
  li { display: inline; }
  a { font-size: 30px; }
}

#banner #menu { 
  float: left;
  ul { display: inline; }
  li { display: inline; }
}

#banner #user { 
  ul { display: inline; }
  li { display: inline; }
}

#columns {
  background: #fee;
}

#columns #sideSection {
  position: absolute;
  left: 0px;
  width:10%;
  min-width:200px;
  max-width:200px;
  background: #fee;
  height:100%;
}

#columns #mainSection {
  
}

#sidemenu {
  ul {
    font-size: 20px;
    padding-left: 10px;
    list-style-type: none;
    a {
      font-size: 15px;
    }
  }
}

#pagination {
    font-size: 14px;
    a {
      font-size: 14px;
    }
}

#pageContainer {
  position:absolute;
  margin-left:200px;
  margin-top:0px;
  height:100%;
  width: 90%;
  min-width:1024px;
}

#pageContainer #pageTop {
  float:top;
  width:100%;
}


#pageContainer #pageMiddle {
  float: top;
  height:100%; 
  font-size: 8px;
}

#pageContainer #pageMiddle #pageRight {
  width:85%;
  min-width:800px;
  height:100%;
  float: left;
  
}

#pageContainer  #pageMiddle #pageRight #grafana {
  width:100%;
  height:100%;
  float:left;
}

#pageContainer #pageMiddle #pageLeft {
  float:left;
  width: 15%;
  min-width: 250px;
  height:100%;
}

#pageContainer #pageBottom {
  float: bottom;
  width:100%;
}

#pageContainer  #pageMiddle #grafana {
  width:100%;
  height:100%;
  float:top;
}

#pageContainer #mainTitle {
    background: #800;
    height: 20px;
    color: #ccc; 
    font-size: 16px;
    width: 100%;
}

#pageContainer #subTitle {
    background: #a00;
    color: #ccc;
    height: 16px;
    font-size: 12px;
}

#statusColumn{
  div {
    font-size:10px;
    float:left;
    padding-left: 5px;
  }
}

#statusColumn #stateSuccess {
  font-size:10px;
  float:left;
  color: green;
}

#statusColumn #stateFailure {
  font-size:10px;
  float:left;
  color: red;
}


