// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#banner {
  background: #600;
  height: 40px;
  color: #ccc; 
  a {
       color: #555;
       font-size: 15px;
       text-decoration: none;
       &:visited {
         color: #bbb;
       }
       &:hover {
         color: #f00;
         background-color: #700;
       }
     } 
}

#banner #logo {
  float: left;
  font-size: 30 px;
  li { display: inline; }
  a { font-size: 30px; }
}

#banner #menu { 
  li { display: inline; }
}

#columns {
  background: #d55;
}

#main {
  margin-left: 14em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 13em;
  background: #d55;
}



