body {
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  height:100%;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
}

p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

table
{
  border-collapse:collapse;
}

th {
  text-align: left;
  padding: 3px;
  border: 1px solid black;
  background-color: #a00;
  color: #ddd;
  font-size:11px;
}

tr {
  font-size: 8px;
}

h1 {
  font-size: 22px;
  width: 1350px;
  line-height: 25px;
  color: #eee;
  background-color: #a00;
}

table.management {
  a {
    text-decoration: none;
  }
}

tr.even {
  
  background-color: #edd
}

td {
  padding: 2px;
  border: 1px solid grey;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  text-align: left;
  &.main_field {
    color: #700;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #300;
  font-size: 9px;
  &:visited {
    color: #900;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
