<% if params[:doGraph] == "1" %>
<table>
	<tbody>
<tr>
	<td>
		<div id='chartRows'></div>
		<%= render_chart(@chartRows, 'chartRows') %>
	</td>
</tr>

</tbody>
</table>
<% end%>
<table id="recordstable">

<%= render "table_header" %>

<%= render(@database_record_summaries)%>
</table>

<br />

<div id="pagination"><%= will_paginate @database_record_summaries %></div>
